@font-face {
  font-family: 'PixelOperator';
  src: url('../public/fonts/PixelOperator.ttf') format('truetype');
}

body {
  font-family: 'PixelOperator';
  background-color: black;
  color: white;
}
